
###> symfony/framework-bundle ###
/.idea/
/.env.local
/.env.local.php
/.env.*.local
/project/config/secrets/prod/prod.decrypt.private.php
/project/public/bundles/
/project/var/
/project/vendor/
###< symfony/framework-bundle ###
